.hatucss {
    padding: 20px;              /* 余白指定 */
    text-align:  center;        /* 中央寄せ */
}
 
.centering_item {
    background-color: #FFEB3B;  /* 背景色指定 */
}

.hatucss2 {
    padding: 20px;              /* 余白指定 */
    text-align:  center;        /* 中央寄せ */
}
 
.centering_item {
    background-color: #FFEB3B;  /* 背景色指定 */
}